<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Managed by Ansible</title>
  </head>
  <body>
    <h1>Configuration managed by Ansible</h1>
    <p>Deploy time: {{ ansible_date_time.date }} {{ ansible_date_time.time }}</p>
  </body>
</html>
